{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sayfa Bulunamadı</title>

    <meta name="descriptison" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="{% static 'css/error/404.css' %}" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <div id="wordsearch">
        <ul>
          <li>k</li><li>v</li><li>n</li><li>z</li><li>i</li><li>x</li>
          <li>m</li><li>e</li><li>t</li><li>a</li><li>x</li><li>l</li>
          <li class="one">4</li><li class="two">0</li><li class="three">4</li>
          <li>y</li><li>y</li><li>w</li><li>v</li><li>b</li><li>o</li>
          <li>q</li><li>d</li><li>y</li><li>p</li><li>a</li>
          <li class="four">p</li><li class="five">a</li>
          <li class="six">g</li><li class="seven">e</li>
          <li>v</li><li>j</li><li>a</li>
          <li class="eight">n</li><li class="nine">o</li><li class="ten">t</li>
          <li>s</li><li>c</li><li>e</li><li>w</li><li>v</li><li>x</li>
          <li>e</li><li>p</li><li>c</li><li>f</li><li>h</li><li>q</li><li>e</li>
          <li class="eleven">f</li><li class="twelve">o</li><li class="thirteen">u</li>
          <li class="fourteen">n</li><li class="fifteen">d</li>
          <li>s</li><li>w</li><li>q</li><li>v</li><li>o</li><li>s</li>
          <li>m</li><li>v</li><li>f</li><li>u</li>
        </ul>
      </div>

      <div id="main-content">
        <h1>Aradığınızı bulamadık.</h1>
        <p>Aradığınız sayfa bulunamıyor. Geçici olarak kullanım dışı, taşınmış veya artık olmayabilir.</p>
        <p>Girdiğiniz URL'yi kontrol edip tekrar deneyin.</p>
        <div id="navigation">
          <a class="navigation" href="/">Anasayfa</a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" 
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" 
      crossorigin="anonymous"></script>
    <script src="{% static 'js/error/404.js' %}"></script>
  </body>
</html>



